body {
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e2c3d;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  transition: all 0.3s ease;
}

.footer-icon img {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
  transition: transform 0.3s, filter 0.3s;
}

.footer-icon.active img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(47%) saturate(1660%) hue-rotate(74deg) brightness(98%) contrast(92%);
  transform: scale(1.2);
}

/* Ensure content doesn't go under the footer */
main {
  flex: 1;
  padding-bottom: 54px; /* Adjust this value based on your footer height */
}

/* Add this to ensure the app takes up the full height of the screen */
html, body, #root {
  height: 100%;
}